div.auto_columns img {
    width: 100%;
    border: solid 2px #ddd; /*#E8D593;*/
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
div.auto_columns p {
    padding-bottom: 2px;
}
#slider .desc span.text {
    border-radius: 8px;
}

