div.auto_columns img {
    width: 100%;
    border: solid 2px #ddd; /*#E8D593;*/
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
div.auto_columns p {
    padding-bottom: 2px;
}
#slider .desc span.text {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
div.sidebar_content_top {
    -webkit-box-shadow:  -8px 8px 12px -8px #111;
    -moz-box-shadow:  -8px 8px 12px -8px #111;
    box-shadow:  -8px 8px 12px -8px #111;
}
div.sidebar_content_top {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

#logo {
    padding: 20px 0px 0px 30px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #c0e1ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c0e1ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c0e1ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#c0e1ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#c0e1ff 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#c0e1ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0e1ff',GradientType=0 ); /* IE6-9 */
}
#logo img {
    width:180px;
}
#tagline {
    padding: 10px 0px;
    background-color: #E6D391;
    font-size: 150%;
    text-align: center;
    color: #452A15;
    border-top: solid 5px #fff;
    width: 100%;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

}

div.clients {
    padding: 10px;
    border: solid 2px #ddd;
    background-color: #eee;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.clients ul {
    list-style: none !important;
    background-color: #aaa;
}
div.clients ul li {
    float:left;
    list-style-position: outside !important;
    margin: 0 6px;
    height: 65px;
    width: 184px;
    text-align: center;
    line-height: 65px;
}
div.clients ul li img {
    vertical-align: middle;
}

