@import "bourbon";

/* ----------------------------------------------------

	File Name: style.css
	RT-THEME 15
	Created By: Tolga Can
	http://themeforest.net/user/stmcan




	1 ) 		GOOGLE FONTS
	2 ) 		GLOBAL STRUCTURE
	3 ) 		NAVIGATIONS
	4 ) 		LINKS
	5 ) 		PAGE ELEMENTS
	6 ) 		CONTENT LIST WIDGETS
	7 ) 		SIDEBAR LIST WIDGETS
	8 ) 		CONTACT LISTS
	9 ) 		SOCIAL MEDIA ICONS
	10 ) 	HEADINGS
	11 ) 	HOME PAGE SLIDER
	12 ) 	IMAGE SLIDER - SHORTCODE
	13 ) 	RT-THEMES CSS FRAMEWORK
	14 ) 	PORTFOLIO
	15 ) 	IMAGES
--	16 ) 	BLOG
	17 ) 	FRAMES, BORDERS, CAPTIONS
	18 ) 	PRODUCTS
	19 ) 	PAGING
	20 ) 	PHOTO GALLERY
	21 ) 	TEXT ELEMENTS
--	22 ) 	RECENT POSTS WIDGET
	23 ) 	SUB PAGE TOP
	24 ) 	LISTS
	25 ) 	TABLES
	26 ) 	FOOTER
	27 ) 	PRODUCTS DETAIL TABS
	28 ) 	BUTTONS
	29 ) 	FORMS
	30 ) 	ACCORDIONS
	31 ) 	SCROLLABLE IMAGE GALLERIES
	32 ) 	TWITTER
  then, Stuff added by daryl

------------------------------------------------------- */

/* ----------------------------------------------------
	GOOGLE FONTS
------------------------------------------------------- */

/* Commenting out because has to be before any rules in file, and rails packages all into one file.  So it's put into application.css
	@import url(http://fonts.googleapis.com/css?family=Oswald);

	@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

	@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
*/

/* SASS Variables */
$medium_color: #A07A45;

/* ----------------------------------------------------
	GLOBAL STRUCTURE
------------------------------------------------------- */

	/* body */
	body {
		font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:20px;
		position:relative;
		background: #538428;
		color:#444;
		padding:0 0 0 1px;
	}

	/* Layout general*/
	#container{
		width:100%;
		max-width:1990px;
		margin:0 auto 0 auto;
		position:relative;
		display: block;
		padding:30px 0;
		border:0 !important;
	}

	/* Layout general*/
	#wrapper{
		width:960px;
		margin:0 auto 0 auto;
		position:relative;
		display: block;
		padding:0;
		border:0 !important;
		z-index:4;
	}

	/* background border */
	.background_pic_border{
		max-width:1990px;
		position:absolute;
		top:0;
		width:100%;
		text-align:center;
		z-index:1;
		overflow:hidden;
	}

    /* background image holder */
	.background_pic_gradient {
		margin:0 auto 0 auto;
		max-width:1990px;
		min-width:980px;
		width:100%;
		overflow:hidden;
		z-index:2;
		/* Added by daryl */
		@include linear-gradient(#c0e1ff, #eeeeff);
		height: 750px;
	}
	.background_pic_holder {
	    background-image:url('background-logo-2.png');
	    @include background-size(1700px 835px);
		background-position: -80px -60px;
		height: 750px;
	}

    .grass {
        //background-image:url('grass2.png');
        height: 35px;
        width:100%;
        position:relative;
        top:-28px;
        z-index:99;
        @include background-size(170px 35px);
    }
	/* background curv image */
	.back-curv{
		//background:url(back-curv-gray.png) center top no-repeat;
		height:452px;
		width:100%;
		position:relative;
		top:-280px;
		min-width:980px;
		z-index:3;
	}

	/* background line image */
	.back-line{
		background:url(back-line.png) center top repeat-x;
		height:160px;
		width:100%;
		position:relative;
		z-index:99;
		top:0;
		min-width:980px;
		z-index:3;
	}

	/* logo position */
	#logo{
//		padding:25px 0;
//		width:174px;
	}

	/* sidebar */
	#sidebar{
		width:240px;
		margin:0 20px 0 0 ;
		float:left;
	}

	.sidebar_top{
		margin:8px 0 0 0;
		background:url(skin-custom.png) left 0px no-repeat;
		height:26px;
		display:block;
	}

	/* sidebar background color */
	.sidebar_content{
		background:#343434;
		padding:15px 30px 0 30px;
	    margin-top: 18px;
	    border-radius: 3px 3px 0 0;
	    @include box-shadow(-8px 0px 12px -8px #111);
	}

	/* sidebar content color */
	.sidebar_content{
		color:#cecece;
	}

	.sidebar_bottom{
		background:url(skin-default.png) left -122px no-repeat;
		height:26px;
		display:block;
	}

	/* content holder */
	#content{
		float:left;
		width:700px;
	}

	/* content holder */
	.content{
		background:#fff;
		padding:0 30px 1px 30px;
		@include box-shadow(8px 0px 12px -8px #111);
		min-height: 500px;
	}

	/* graphic cover for slider */
	.slider_cover{
		background:url(slider-cover.png) right 1px no-repeat;
		height:69px;
		width:700px;
		display:block;
		position:absolute;
		z-index:991;
	}

	/* content top */
	.content_top{
		background:url(skin-default.png) right 0 no-repeat;
		height:34px;
		display:block;
	}

	.content_top.no_curv{
		height:20px;
		background:white !important;
	}

	.content_top.no_curv_home{
		background:white !important;
	}

	/* content bottom */
	.content_bottom{
		background:url(skin-default.png) right -113px no-repeat;
		height:34px;
		display:block;
	}


/* ----------------------------------------------------
	NAVIGATIONS
------------------------------------------------------- */

	/* main navigation bar */
	#navigation{
		padding:0 0 30px 0;
	}

	/* first level menu item's font face */
	#navigation > ul > li > a{
		font-family: 'Oswald', arial, serif;
	}

	/* first level links */
	#navigation, #navigation a{
		color:#fff;
		text-decoration:none;
		font-size:14px;
		line-height:100%;
		display:block;
	}

	/* inactive - expandable items */
	#navigation a.inactive{
		background:url(plusminus.png) right 3px no-repeat;
	}

	/* active - expanded items */
	#navigation a.active, #navigation a.inactive:hover {
		background:url(plusminus.png) right -32px no-repeat;
	}

	/* current page items and hover states */
	#navigation a:hover, #navigation ul li.selected a, #navigation ul li.current-menu-ancestor a{
		color:#9D9D9D;
	}

	/* current page items and hover states */
	#navigation ul li.selected a:hover, #navigation ul li.current-menu-ancestor a:hover{
		color:#fff;
	}
	#navigation ul li.selected ul {
	  display:block;
	}

	#navigation ul ul li.current-menu-item a{
		color:#D0D0D0;
	}


	#navigation ul{
		padding:1px 0 0 0;
		display:block;
		margin:0;
		list-style:none !important;
	}

	/* First Level */
	#navigation > ul{
		//background:url(transparent-pixel.png) top repeat-x;
	}

	#navigation > ul > li{
		background:url(transparent-pixel.png) bottom repeat-x;
		padding:10px 0 10px 0;
	}

	#navigation ul li{
		display:block;
	}

	/* Sub Levels */
	#navigation  ul ul{
		display:none;
		margin:10px 0 0 0;
	}

	#navigation ul ul li{
		margin:0 0 0 0;
		padding:5px 0 5px 0;
	}

	#navigation ul ul li a{
		font-size:12px;
		color:#C4C4C4;
	}

	/* Third Level */
	#navigation  ul ul ul{
		margin:10px 0 0 0;
		background:url(transparent-pixel.png) repeat-y;
	}

	#navigation ul ul ul li{
		margin:0 0 0 10px;
	}

/* ----------------------------------------------------
	LINKS
------------------------------------------------------- */

	/* content area links */
	.content a{
		text-decoration:underline;
		color:#666;
	}

	.content a:hover{
		text-decoration:none;
		color:$medium_color;
	}


	/* arrow links */
	a.more_arrow{
		color:$medium_color;
		text-decoration:none;
	}

	a.more_arrow_2{
		color:#ccc;
		text-decoration:none;
	}

	/* read more links */
	a.read_more{
		padding:10px 0 0 0;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-style: italic;
		color:#a1a1a1;
		text-decoration:none;
		display:block;
	}

	a.read_more:hover{
		color:$medium_color;
	}

	/* sidebar content links */
	.sidebar_content .box a{
		color:#cecece;
	}

	.sidebar_content .box a:hover{
		color:#fff;
	}

	/* sidebar contact details links */
	.sidebar_content ul.contact_list a{
		text-decoration:underline !important;
	}

	.sidebar_content .box a:hover{
		text-decoration:none !important;
	}

/* ----------------------------------------------------
	PAGE ELEMENTS
------------------------------------------------------- */

	/* line */
	.line{
		margin:0 0 30px 0;
		clear:both;
	}

	/*top link*/
	span.top{
		font-size:10px;
		float:right;
		position:relative;
		right:0;
		top:-10px;
		padding-left:10px;
		text-decoration:none;
		letter-spacing:1px;
		cursor:pointer;
	}

	span.top:hover{
		text-decoration:none;
	}

	/* line with big margin*/
	.bold_line{
		clear:both;
		background:#eee;
		height:1px !important;
		width:100% !important;
		margin:0 0 30px;
		display:inline-block;
	}

	/* line with big margin for sidebar*/
	.sidebar_content .bold_line{
		background:transparent url(transparent-pixel.png) top repeat-x;
	}

	/* line */
	.line{
		border-bottom:1px solid #eee;
	}

	/*top link*/
	span.top{
		background:#fff;
		color:#B0B0B0;
	}

	span.top:hover{
		color:#000;
	}

	img.featured{
		margin:0 0 10px 0;
	}

	/* Tooltip */
	.ttip{
		padding:0 !important;
	}

/* ----------------------------------------------------
	CONTENT LIST WIDGETS
------------------------------------------------------- */

	/* widget links */
	.widget ul a{
		color:#6C6C6C;
		display:block;
		text-decoration:none;
	}

	.widget ul a:hover{
		color:$medium_color;
	}

	.widget ul{
		border-top:1px solid #F5F5F5;
		margin:0 0 20px 0;
	}

	.widget ul li{
		border-bottom:1px solid #F5F5F5;
		padding:10px 0;
		line-height:120%;
		list-style:none !important;
	}

	.widget ul li a{
		display:block;
	}

	/* sub levels */

	.widget ul ul{
		margin:10px 0 0 0;
		padding:10px 0 0 0;
	}

	.widget ul ul ul{
		border:0 !important;
		margin:10px 0;
		padding:0;
	}

	.widget ul ul li{
		padding:0;
	}

	.widget ul ul li a{
		padding:4px 0;
	}

	.widget ul li li{
		background:url(transparent-pixel.png) top repeat-x;
	}

	.widget ul li li{
		border:0 !important;
		margin:0;
	}

	.widget ul li li a{
		padding:5px 0 5px 15px;
		background: url(arrow-silver.png) left 9px no-repeat;
	}


	.widget ul li li li a{
		display:block;
		padding:5px 0 5px 30px;
		background: url(arrow-silver.png) 15px 9px no-repeat;
	}

	.widget ul li li li li a{
		display:block;
		padding:5px 0 5px 45px;
		background: url(arrow-silver.png) 30px 9px no-repeat;
	}

	.widget ul li li li li li a{
		display:block;
		padding:5px 0 5px 60px;
		background: url(arrow-silver.png) 45px 9px no-repeat;
	}



/* ----------------------------------------------------
	SIDEBAR LIST WIDGETS
------------------------------------------------------- */

	/* widget links */
	.sidebar_content .box ul{
		background:url(transparent-pixel.png) top repeat-x;
		margin:0 0 20px 0;
		border:0;
	}

	.sidebar_content .box ul li{
		background:url(transparent-pixel.png) bottom repeat-x;
		padding:10px 0;
		line-height:120%;
		border:0;
	}

	.sidebar_content .box ul li a{
		display:block;
	}

	/* sub levels */

	.sidebar_content .box ul ul{
		margin:10px 0 0 0;
		padding:10px 0 0 0;
	}

	.sidebar_content .box ul ul ul{
		background:none;
		margin:10px 0;
		padding:0;
	}

	.sidebar_content .box ul ul li{
		padding:0;
		margin:0;
	}

	.sidebar_content .box ul ul li a{
		padding:4px 0;
	}

	.sidebar_content .box ul li li{
		background:url(transparent-pixel.png) top repeat-x;
	}

	.sidebar_content .box ul li li{
		background:none;
	}

	.sidebar_content .box ul li li a{
		padding:5px 0 5px 15px;
		background: url(arrow.png) left 9px no-repeat;
		color:#949494;
	}

	.sidebar_content .box ul li li li a{
		display:block;
		padding:5px 0 5px 30px;
		background: url(arrow.png) 15px 9px no-repeat;
	}

	.sidebar_content .box ul li li li li a{
		display:block;
		padding:5px 0 5px 45px;
		background: url(arrow.png) 30px 9px no-repeat;
	}

	.sidebar_content .box ul li li li li li a{
		display:block;
		padding:5px 0 5px 60px;
		background: url(arrow.png) 45px 9px no-repeat;
	}


/* ----------------------------------------------------
	CONTACT LISTS
------------------------------------------------------- */

	/* contact list for sidebar */
	.sidebar_content .contact_list{
		display:inline-block;
		list-style-type:none;
		margin:0 0 30px 0 !important;
		padding:0 !important;
		background:none !important;
	}

	.sidebar_content .contact_list li{
		list-style-type:none;
		margin:7px 0 0 0 !important;
		 padding:0 !important;
		 line-height:20px !important;
	}

	.sidebar_content .contact_list .phone{
		background:url(assets/contact_icons/phone.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.sidebar_content .contact_list .home{
		margin:0;
		background:url(assets/contact_icons/home.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.sidebar_content .contact_list .mail{
		background:url(assets/contact_icons/mail.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.sidebar_content .contact_list .help{
		background:url(assets/contact_icons/help.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.sidebar_content .contact_list .map{
		background:url(assets/contact_icons/map.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.sidebar_content .contact_list .fax{
		background:url(assets/contact_icons/fax.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.sidebar_content .contact_list .contact_form_icon{
		background:url(assets/contact_icons/comment.png) left 3px no-repeat;
		padding-left:25px !important;
	}


	/* contact list for content area */
	.content .contact_list{
		display:inline-block;
		list-style-type:none;
		margin:0 0 30px 0 !important;
		padding:0 !important;
		background:none !important;
	}

	.content .contact_list li{
		list-style-type:none;
		margin:7px 0 0 0 !important;
		 padding:0 !important;
		 line-height:20px !important;
	}

	.content .contact_list .phone{
		background:url(assets/contact_icons/phone_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.content .contact_list .home{
		margin:0;
		background:url(assets/contact_icons/home_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.content .contact_list .mail{
		background:url(assets/contact_icons/mail_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.content .contact_list .help{
		background:url(assets/contact_icons/help_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.content .contact_list .map{
		background:url(assets/contact_icons/map_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.content .contact_list .fax{
		background:url(assets/contact_icons/fax_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}

	.content .contact_list .contact_form_icon{
		background:url(assets/contact_icons/comment_silver.png) left 3px no-repeat;
		padding-left:25px !important;
	}


/* ----------------------------------------------------
	SOCIAL MEDIA ICONS
------------------------------------------------------- */

	.sidebar_content ul.social_media_icons{
		background:none;
		display:inline-block;
		margin:0 0 20px 0 !important;
	}

	.sidebar_content ul.social_media_icons li{
		background:none;
		list-style:none;
		float:left;
		margin:0 5px 0 0 !important;
		padding:0;
	}

	.sidebar_content .social_media_icons img{
		opacity:0.3;
		display:block;
	}


/* ----------------------------------------------------
	WPML FLAGS
------------------------------------------------------- */

	.sidebar_content ul.flags{
		background:none;
		display:inline-block;
		margin:0 0 0 0 !important;
	}

	.sidebar_content ul.flags li{
		background:none;
		list-style:none;
		float:left;
		margin:0 5px 0 0 !important;
		padding:0;
	}

	.sidebar_content .flags img{
		display:block;
	}

	.sidebar_content .box.flags{}

/* ----------------------------------------------------
	HEADINGS
------------------------------------------------------- */

	h1,h2,h3,h4,h5,h6{
		letter-spacing:0px;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;
		font-weight:normal;
		font-family: 'Oswald', arial, serif;
		line-height:140% !important;
		color:$medium_color;
	}

	h1{
		font-size: 25px;
	}

	h2{
		font-size: 21px;
	}

	h3{
		font-size: 17px;
	}

	h4{
		font-size: 15px;
	}

	h5{
		font-size: 11px;
	}

	h6{
		font-size: 8px;
	}

	/*	heading colors and links  */
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
		color:$medium_color !important;
		text-decoration:none !important;
	}

	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
		/*background:$medium_color;
		color:#fff !important;*/
		text-decoration: underline !important;
	}


/* ----------------------------------------------------
	HOME PAGE SLIDER
------------------------------------------------------- */

	/* slider */
	#slider{
		position:relative;
		top:-4px;
		overflow:hidden;
		margin:0 0 26px 0;
	}

	.cycle, .cycle .slide{
		height:300px;
		width:640px;
	}

	/* description location */
	#slider .desc{
		position:absolute;
		max-width:420px;
		right: 12px;
		top:60px;
		font-family: 'Oswald', arial, serif;
	}

	/* columns common style */
	#slider .desc span.title{
		background:url(slider-text-background.png);
		font-size:24px;
		line-height:100%;
		margin:0 0 10px 0;
	}

	/* title */
	#slider .desc span.title, #slider .desc span.title a{
		text-decoration:none;
		color:#fff;
		display:block;
	}

	 #slider .desc span.title a,  #slider .desc span.title span{
		padding:5px;
		display:block;
	}

	/* description texts*/
	#slider .desc span.text{
		padding:5px;
		font-size:14px;
		background:url(slider-text-background.png);
		text-decoration:none;
		color:#fff;
		display:block;
	}

	/* description links */
	#slider .desc span.text a{
		color:$medium_color;
		text-decoration:none;
	}

	#slider .desc span.text a:hover, #slider .desc span.title a:hover{
		background-color:$medium_color;
		color:#fff !important;
	}


	/* slider buttons*/
	#numbers{
		background:#fff;
		padding:4px 0 0 0;
		height:8px;
		line-height:0;
		display:inline-block;
		position:absolute;
		right:0;
		bottom:0;
		z-index:999;
	}

	#numbers img{
		display:block;
	}

	#numbers	a{
		display:inline-block;
		background:#dddddd;
		margin:0 0 0 4px;
		padding:0;
	}

    /* active button style*/
	#numbers	a.activeSlide{
		display:inline-block;
		background:$medium_color;
		margin:0 0 0 4px;
		padding:0;
	}

	/* nivo slider */
	.nivoSlider#slider,#nivo-slider{
		height:328px;
		width:640px;
	}

	.theme-default .nivo-caption .nivo-text a {
		color:$medium_color;
		background:transparent;
	}

	.theme-default .nivo-directionNav a {
		background-color:$medium_color;
		color:#fff;
	}

	.theme-default .nivo-directionNav a:hover{
		background-color:#E7A53C;
		color:#fff !important;
	}

	.theme-default .nivo-caption a:hover{
		background-color:$medium_color;
		color:#fff !important;
	}

	.theme-default .nivo-caption .nivo-title a:hover{
		background-color:$medium_color;
		color:#fff !important;
	}

/* ----------------------------------------------------
	IMAGE SLIDER - SHORTCODE
------------------------------------------------------- */
	.frame.slider{
		margin:0 0 10px;
	}

	.photo_gallery_cycle ul{
		list-style:none;
		margin:0 0 6px;
		padding:0;
	}

	.slider_buttons{
		margin:0 0 0 0;
		padding:0;
	}


	/* slider buttons*/
	.slider_buttons{
		height:8px;
		line-height:0;
		display:inline-block;
		z-index:999;
	}

	.slider_buttons img{
		display:block;
	}

	.slider_buttons a{
		display:inline-block;
		background:#dddddd;
		margin:0 0 0 4px;
		padding:0;
		border:1px solid #FCFCFC;
	}

	/* active number style*/
	.slider_buttons a.activeSlide{
		display:inline-block;
		background:$medium_color;
		margin:0 0 0 4px;
		padding:0;
	}

/* ----------------------------------------------------
	RT-THEMES CSS FRAMEWORK
------------------------------------------------------- */

	/* columns common style */
	.box{
		margin:0 8px 10px 8px;
		display:inline;
		float:left;
		border:0;
		border-radius: 10px;
		padding: 2px;
	}

	/* sidebar box */
	#sidebar .box{
		margin-left:0;
		margin-right:0;
		padding:0;
		clear:both;
		display:block;
		background:none !important;
		width:180px !important;
	}

	.box h5{
		line-height:100%;
	}

	.box .product_info h5{
		line-height:140%;
	}

	/* portfolio and product listings*/
	.box.portfolio, .box.products{
		overflow:hidden;
	}

	/*
	columns
	*/


	/* two  */
	.content .box.two{
		width:310px;
	}

	/* three */
	.content .box.three{
		width:200px;
	}

	/* Four */
	.content .box.four{
		width:145px;
	}

	/* Five */
	.content .box.five{
		width:112px;
	}

	/* 2:3 column */
	.content .box.two-three{
		width:420px;
	}

	/* 3:4 column */
	.content .box.three-four{
		width:475px;
	}

	/* 4:5 column */
	.content .box.four-five{
		width:508px;
	}


	/* first and last column fix*/
	.box.first{
		margin-left:-2px !important;
	}

	.box.last{
		margin-right:-2px !important;
	}

	.box.full{
		width:640px;
		margin-left:0px !important;
		margin-right:0px !important;
		display:block;
		float:none !important;
	}

/* ----------------------------------------------------
	PORTFOLIO
------------------------------------------------------- */

	/* portfolio info */
	.portfolio_info{
		margin:10px 6px 0 6px;
	}

/* ----------------------------------------------------
	IMAGES
------------------------------------------------------- */

	/* image alignments */
	img.aligncenter{
		display:block;
		text-align:center;
		display: block;
		margin:0 auto 20px auto;
		padding:0px;
		border:0px;
		background:none;
	}

	img.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
		border:0px;
		background:none;
		padding:0;
		display:block;
	}

	img.alignright{
		padding:0;
		float:right;
		margin: 6px 0 6px 20px;
		border:0px;
		display:block;
		background:none;
	}

	.single .blog_image{
		display:inline;
		margin:0 0 20px 0;
	}

	.single span.frame.alignleft.blogimage{
		margin-top: 0px !important;
	}

	/*
	Images with mouseover effect
	*/

	/* mouse over effect */
	.imagemask{
		position:relative;
		display:inline-block !important;
		padding:0;
		margin:0;
		outline:0;
	}

	.imagemask{
		position:relative;
		display:inline-block !important;
		overflow:hidden;
		padding:0;
		margin:0;
	}

	a.imgeffect,a.imgeffect:hover{
		text-decoration:none;
		cursor:pointer;
		line-height:0 !important;
		display:block !important;
	}

	/* plus icon */
	.imagemask.plus{
		background:url(magnifier.png) center bottom no-repeat;
	}

	/* play icon */
	.imagemask.play{
		background:url(video.png) center bottom no-repeat;
	}

	/* link icon */
	.imagemask.link{
		background:url(link.png) center bottom no-repeat;
	}

/* ----------------------------------------------------
	FRAMES, BORDERS, CAPTIONS
------------------------------------------------------- */

	/* frame and captions common */
	.frame, .wp-caption{
		padding:6px;
		display:inline-block;
		position:relative;
		margin-left:1px;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-style:italic;
		text-align:center;
		background:#eee;
		overflow:hidden;
	}

	.frame.block{
		display:inline-block !important;
	}

 	/* Image Caption Texts */
	.wp-caption-text{
		clear:both;
		display:block;
		padding:8px 0 0 0 !important;
	}

	/* aligns */
	span.frame.alignleft, .wp-caption.alignleft{
		float:left !important;
		margin: 6px 20px 6px 2px;
		display: inline !important;
		position:relative;
	}

	span.frame.alignright, .wp-caption.alignright{
		float:right !important;
		margin: 6px 2px 6px 20px;
		display: inline !important;
		position:relative;
	}

	.frame img, .wp-caption img{
		display:block;
		float:left;
		position:relative;
	}

	.aligncenter .frame{
		margin:2px 0 0 0 !important;
	}


/* ----------------------------------------------------
	PRODUCTS
------------------------------------------------------- */

	/* product info */
	.product_info{
		margin:10px 6px 20px 6px;
	}

	span.price{
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-style: italic;
		color:#a1a1a1;
		font-size:12px;
		line-height:100%;
		margin:10px 0 0 0;
		display:block;
	}

	.product .button.small.alignright.default{
		margin:0 0 10px;
	}

	.doc_icons{
		list-style:none;
	}

	.doc_icons li{
		float:left;
		padding:0 10px 0 0;
	}

/* ----------------------------------------------------
	PAGING
------------------------------------------------------- */
	.paging_wrapper{
		text-align:center;
		display:block;
		clear:both;
	}

	.paging {
		display:inline-table;
		margin:0 !important;
		position:relative;
		list-style-type:none;
		padding-bottom:30px;
	}

	.paging li{
		display:inline;
		margin-right:5px;
		float:left;
	}

	/* paging links */
	.paging li a{
		border:0;
		overflow:hidden;
		width:26px;
		height:28px;
		display:block;
		text-align:center;
		text-decoration:none;
		line-height:26px;
		background:url(pagination.png) -27px -60px no-repeat;
		color:#929292;
	}

	/* paging arrows */
	.paging .arrowleft a:hover{
		background:url(pagination.png) left top no-repeat;
	}

	.paging .arrowright a:hover{
		background:url(pagination.png) left -30px no-repeat;
	}

	.paging .arrowleft a{
		background:url(pagination.png) -27px top no-repeat;
	}

	.paging .arrowright a{
		background:url(pagination.png) -27px -30px no-repeat;
	}

	/* active and hover state */
	.paging li a:hover, .paging li.active a{
		background:url(pagination.png) left -60px no-repeat;
	}

	/* paging mouseover*/
	.paging li.active a{
		text-decoration:none;
	}

	.paging li a:hover{
		text-decoration:none;
	}


/* ----------------------------------------------------
	PHOTO GALLERY
------------------------------------------------------- */

	.photo_gallery{
		clear:both;
		display:block;
		margin: 0 5px 20px 0;
	}

	.photo_gallery ul{
		list-style:none !important;
		margin:0 !important;
	}

	.photo_gallery ul li{
		list-style-position:outside !important;
		float:left;
		margin: 0 10px 6px 0;
	}

	.photo_gallery_cycle .border{
		padding-bottom:40px !important;
	}

	.photo_gallery .p_caption{
		font-style:italic;
		padding:0 5px;
		display:block;
	}

/* ----------------------------------------------------
	TEXT ELEMENTS
------------------------------------------------------- */

	/* text selection */
	::selection {
		background: $medium_color; /* Safari */
		color:#fff;
	}

	::-moz-selection {
		background: $medium_color; /* Firefox */
		color:#fff;
	}

	/* Standart blockquote */
	blockquote {
		font-size:13px;
		line-height: 20px;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-weight:normal;
		font-style:italic;
		position:relative;
		width:auto;
	}

	blockquote em, blockquote i, blockquote cite {
		font-style:normal;
	}

	blockquote p{
		background:url(blockquote.png) no-repeat;
		padding:0 0 20px 0px;
		color:#9e9e9e;
		text-indent: 30px;
	}

	blockquote span{
		margin:10px 0 0 0;
		display:block;
		color:#727272;
		font-style:normal;
		text-indent: 0 !important;
	}

	/* Sidebar blockquote */
	.sidebar blockquote {
		font-size:12.5px;
		line-height: 18px;
		margin:0 0 30px 0;
		position:relative;
	}

	.sidebar blockquote p{
		padding:10px 0 0 0;
		margin:0 0 10px 1px;
	}

	/* pull quote */
	blockquote.pullquote {
		width:300px;
	}

	blockquote.pullquote p{
		padding:5px 0px 10px 30px;
	}

	blockquote.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
	}

	blockquote.alignright{
		float:right;
		margin: 6px 0 6px 20px;
	}

	blockquote.alignright p, blockquote.alignleft p{
		text-indent: 0 !important;
	}

	pre {
		line-height:18px;
		margin-bottom:18px;
	}

	code {
		display:block;
		margin:0 0 20px 0;
		padding:0 10px;
		font-weight:normal;
		font-size:12px;
		font-family:"Courier New", Courier, Consolas, Monospace;
		line-height:18px;
		overflow:auto;
		white-space:pre;
		background:#EDEDED url(code.gif);
		border:1px solid #EDEDED;
	}

	ins {
		text-decoration:none;
	}

	sup {
		bottom: 1ex;
	}

	sub {
		top: .5ex;
	}

	/* paragraph */
	p{
		padding:0 0 20px 0;
	}

	/* testimonials */
	span.testimonial{
		background:url(blockquote.png) no-repeat;
		display:inline-block;
		height:32px;
		width:39px;
		float:left;
		margin:6px 8px -3px 0;
	}

	/* dropcaps */
	span.dropcap{
		font-size:22px;
		height:39px;
		width:39px;
		display:block;
		float:left;
		line-height:34px;
		margin:0 8px -3px 0;
		text-align:center;
		background:url(dropcap.png) left top no-repeat;
		color:#fff;
	}

	span.dropcap.style2{
		font-size:42px;
		line-height:42px;
		background:none !important;
		width:auto !important;
		height:auto !important;
		color:#585858 !important;
	}

/* ----------------------------------------------------
	SUB PAGE TOP
------------------------------------------------------- */

	.sub_page_top{
		height:26px;
		border-bottom:1px solid #eee;
		margin-bottom:16px;
	}

	/* search */
	.search-bar{
		padding:4px 0 0 0;
		width:140px;
		height:15px;
		float:right;
		background:url(search.png) left top no-repeat;
	}

	.search-bar form input{
		width:80px !important;
		padding:0 0 0 10px !important;
		margin:0 !important;
		border:0 !important;
		outline:0 !important;
		height:14px !important;
		float:left !important;
		display:inline !important;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-weight:normal !important;
		font-style:italic !important;
		font-size:11px !important;
		color:#929292 !important;
		background:transparent !important;
	}

	.search-bar form input.searchsubmit{
		width:25px  !important;
		height:15px  !important;
		padding:0  !important;
		float:left  !important;
		display:inline  !important;
	}

	.search-bar form input:focus,.search-bar form input{
		border:0;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;
	}


/* ----------------------------------------------------
	BREADCRUMB MENU
------------------------------------------------------- */

	/* Breadcrumb Menu */
	.breadcrumb{
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-weight:normal;
		font-style:italic;
		color:#929292;
		font-size:11px;
		clear:both;
		width:490px;
		float:left;
		position:relative;
		display:block;
		z-index:10;
		margin:0;
		line-height:100%;
		padding-top:5px;
	}

	.breadcrumb a{
		text-decoration:none;
	}


/* ----------------------------------------------------
	LISTS
------------------------------------------------------- */

	dd{
		color:#8B8B8B;
	}

	/* list with stars */
	.star{

	}

	/* list with check image */
	.check{

	}

	/* content lists */
	ul, ol{
		list-style: disc;
		margin:0 0 20px 17px;
	}

	ul ul, ol ol{
		list-style: circle;
		padding:0 10px;
		margin:0 0 10px 0;
	}

	ul ul ul, ol ol ol{
		list-style: square;
		padding:0 10px;
		margin:0 0 10px 0;
	}

	ol{
		list-style: decimal;
	}

	ol ol{
		list-style: lower-latin;
	}

	ol ol ol{
		list-style: lower-roman;
	}

	ul ul li, ol ol li{
		margin:5px 0 5px 15px;
	}

	dl{
		margin:0 0 20px 0;
	}

	dd{
		margin:5px 0 5px 15px;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-style:italic;
	}

	.lined li{
		padding:5px 0;
	}

	/* list with stars */
	.star{
		margin:0 0 20px 22px;
		list-style-image:url(star.png) !important;
	}

	/* list with check image */
	.check{
		margin:0 0 20px 22px;
		list-style-image:url(check.gif) !important;
	}

	.product .check{
		margin:0 0 20px 22px;
		list-style-image:url(check.gif) !important;
	}


/* ----------------------------------------------------
	TABLES
------------------------------------------------------- */

	table{
		width:auto;
		border-collapse: separate;
		border-spacing: inherit;
		margin:0 0 20px 0;
		padding:0;
		border-right:1px solid #F5F5F5;
		border-top:1px solid #F5F5F5;
	}

	table caption strong{
		text-align:left;
		font-size: 14px;
		font-weight: normal;
		line-height:20px;
		font-weight:bold;
	}

	table caption{
		text-align:left;
		padding: 0 0 10px 3px;
		font-style: italic;

	}

	table th {
		padding: 13px;
		font-size: 12px;
		background:#F5F5F5;
		border-left:1px solid #F5F5F5;
	}

	table td {
		padding: 10px;
		text-align: left;
		margin:10px;
		border-bottom:1px solid #F5F5F5;
		border-left:1px solid #F5F5F5;
	}


	/* Sidebar Tables */

	.sidebar_content table{
		width:180px;
		padding:0;
		border-right:1px solid #808080;
		border-top:1px solid #808080;
	}

	.sidebar_content table th {
		padding: 5px;
		font-size: 12px;
		background:url(transparent-pixel.png);
		border-left:1px solid #808080;
		border-bottom:1px solid #808080;
	}

	.sidebar_content table td {
		padding: 4px;
		text-align: left;
		margin:10px;
		border-bottom:1px solid #808080;
		border-left:1px solid #808080;
	}

	/* WP calendar*/
	.sidebar_content table#wp-calendar, .sidebar_content table#wp-calendar td, .sidebar_content table#wp-calendar th{

		text-align: center;
	}

/* ----------------------------------------------------
	FOOTER
------------------------------------------------------- */

	#footer {
		margin:20px auto 0 auto;
		clear:both;
		width:940px;
		clear:both;
		overflow:hidden;
		padding:0 10px;
		font-size:11px;
		text-align:center;
		position:relative;
		z-index:9;
		color: #111;
	}

	/* footer copyright text */
	#footer .copyright{
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-style: italic;
		color:#222;
		margin:5px 0 0 0;
	}

	/* footer navigation */

	/* footer links */
	#footer  a{
		text-decoration:none;
		color:#111;
	}

	#footer  a:hover{
		color:$medium_color;
		text-decoration:underline;
	}

	ul.footer_links{
		list-style:none;
		margin:0 !important;
	}

	ul.footer_links li{
		list-style-position:outside;
		line-height:100%;
		display:inline;
		padding:0 7px ;
		border-left:1px solid #333;
	}

	ul.footer_links li.first{
		border-left:0;
	}


/* ----------------------------------------------------
	PRODUCTS DETAIL TABS
------------------------------------------------------- */
	.box.product_detail{
		margin:0 0 10px 0;
	}

	/* sub page tabs */
	div.taps_wrap {
		width:640px;
		padding:0;
		clear:both;
		display:block;
		margin:0;
	}

	.taps_wrap .pane  {
		margin:0;
		display:none;
		padding:20px 0 0px 0;
		overflow:hidden;
		_background-image:none;
		display:block;
		width:640px;
	}

	/* root element for tabs  */
	ul.tabs {
		list-style:none;
		margin:0 !important;
		display:block;
		height:33px;
		padding:0 !important;
		border-bottom:1px solid #eee;
		border-left:1px solid #eee;
	}

	/* single tab */
	ul.tabs li {
		float:left;
		text-indent:0;
		margin:0;
		height:32px;
		list-style-image:none !important;
		border-right:1px solid #eee;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
	}

	/* link inside the tab. uses a background image */
	ul.tabs a {
		background:#F4F4F4;
		font-size:12px;
		line-height:100%;
		display:block;
		text-align:center;
		text-decoration:none;
		padding:0px;
		margin:0px;
		position:relative;
		padding:10px 10px 10px 10px;
		color:#898989;
		border-left:1px solid #fff;
		-webkit-box-shadow:inset 0 1px 0 #fff;
		-moz-box-shadow:inset 0 1px 0 #fff;
		box-shadow:inset 0 1px 0 #fff;
		text-shadow:0 1px 0 #fff;
	}

	ul.tabs a:active {
		outline:none;
	}

	/* when mouse enters the tab move the background image */
	ul.tabs a:hover {
	}

	/* active tab uses a class name "current". its highlight is also done by moving the background image. */
	ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
		-webkit-box-shadow:  0px 1px 0px #fff, inset 0 1px 0 #fff;
		-moz-box-shadow:  0px 1px 0px #fff, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 0px #fff, inset 0 1px 0 #fff;
		background:#fff !important;
		cursor:default !important;
		color:#595959;
	}

	/* initially all panes are hidden */
	.panes .pane {
		display:none;
	}



/* ----------------------------------------------------
	BUTTONS
------------------------------------------------------- */

	/* buttons common */
	a.button{
		display:inline-block !important;
		border-radius: 4px;
		padding: 0 15px;
		text-decoration:none;
		font-size:12px;
		line-height:23px;
		cursor:pointer;
	}

	/* medium button */
	.button.medium{
		padding: 2px 15px;
		text-decoration:none;
		font-size:14px;
		line-height:27px;
	}

	/* big button */
	.button.big{
		padding: 10px 15px;
		text-decoration:none;
		font-size:16px;
		line-height:31px;
	}

	/* mail button */
	.button .mail{
		background:url(assets/icons/mail.png) left 2px  no-repeat;
		padding-left:25px;
	}

	/* mail button light icon */
	.button .mail.light{
		background:url(assets/icons/mail_w.png) left 2px  no-repeat;
	}


	/* default button colors */
	.button.default{
		border: solid 1px #ccc;
		background: rgb(247,247,247); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(216,216,216,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(216,216,216,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(216,216,216,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(247,247,247,1) 0%,rgba(216,216,216,1) 100%); /* W3C */
		border-color: #D8D8D8 #CBCBCB #9D9D9D;
		color: #646464 !important;
		text-shadow: 0 1px 0 #F4F4F4;
		-webkit-box-shadow: 0 1px 1px #D1D1D1, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #D1D1D1, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 #fff;
	}

	/* default button hover state */
	.button.default:hover{
		background: rgb(216,216,216); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(247,247,247,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(216,216,216,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
	}

	/* light button hover state */
	.button.light:hover{
		background: rgb(246,246,246); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(249,249,249,1) 49%, rgba(241,241,241,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(49%,rgba(249,249,249,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */

		background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
	}


/* ----------------------------------------------------
	FORMS
------------------------------------------------------- */

	/* all form elements common */
	input, select,  textarea{
		font-family: Arial, Helevtica, Verdana, san-serif;
		font-size:12px;
		position:relative;
		outline: none;
		padding:8px;
		border-radius:4px;
		color:#8C8C8C;
		background:#fff;
		border:1px solid #bbb;
		-moz-box-box-shadow:inset 0px 1px 1px #fff, inset 0px 5px 5px #F4F4F4;
		-webkit-box-shadow:inset 0px 1px 1px #fff, inset 0px 5px 5px #F4F4F4;
		box-shadow:inset 0px 1px 1px #fff, inset 0px 5px 5px #F4F4F4;
	}

	/* image buttons, checkbox and radio */
	input[type="image"],input[type="checkbox"],input[type="radio"]{
		width:auto;
		border:0;
		padding:0;
		-moz-box-shadow:none !important;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
	}

	/* buttons */
	form input[type="button"], form input[type="submit"]{
		text-align:center;
		display:inline-block !important;
		font-size:12px;
		line-height:100%;
		position:relative;
		text-decoration:none;
		border:0;
		padding:3px 10px 2px 10px;
		cursor:pointer;
		min-width:100px;
		background: #bdbdbd;
		border: solid 1px #ccc !important;
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#D8D8D8');
		background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D8D8D8));
		background: -moz-linear-gradient(top,  #F7F7F7, #D8D8D8);
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
		color: #898989 !important;
		text-shadow: 0 1px 0 #F4F4F4;
		-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 #fff !important;
	}

	form input:focus, form select:focus, form textarea:focus{
		border:1px solid #ccc;
		-moz-box-shadow: 0px 2px 2px #eee;
		-webkit-box-shadow: 0px 2px 2px #eee;
		box-shadow: 0px 2px 2px #eee;
	}

	form input[type="button"]:hover, form input[type="submit"]:hover{
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#D8D8D8');
		background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D8D8D8));
		background: -moz-linear-gradient(top,   #D8D8D8, #F7F7F7);
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
	}

	.sidebar_content form input:focus, .sidebar_content form select:focus, .sidebar_content form textarea:focus, .sidebar_content form input[type="button"], .sidebar_content form input[type="submit"]{
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}

	/* labels */
	 form label{
		display:block;
		float:none;
		line-height:100%;
		padding:8px 0 7px 0 !important;
		position:relative;
		color:#8B8B8B;
	}

	/* list in forms */
	form ul, form li{
		list-style-type:none;
		list-style-position:outside;
		border:0;
		margin:0 0 20px 0 !important;
		padding:0 !important;
		display:block;
		clear:both;
		background:0 !important;
	}

	form ul li {
		margin:0px 0 15px 0px !important;
		border:0 !important;
	}


	/* form field widths for content area */
	.content input[type="text"]{
		width:300px;
	}

	.content textarea{
		width:500px;
		overflow:auto;
	}

	/* form field widths for columns */
	.box input[type="text"]{
		width:94%;
	}

	.box textarea{
		width:94%;
		overflow:auto;
	}

	/* form field widths for sidebar*/
	.sidebar_content input[type="text"], .sidebar_content  select, .sidebar_content textarea{
		width:160px !important;
	}

	/* form validation */
	#validate_form label.error {
		display:none !important;
		color: red;
		border: 1px solid red;
	}

	#validate_form .error{
		color: red;
		border: 1px solid red;
	}

	/* Form Messages*/
	.ok_box{
		padding:20px;
		width:auto;
		margin:0 0 30px 0;
		position:relative;
		display:inline-block;
		border-radius:10px;
		-moz-box-shadow: 0 4px 4px #CBCBCB;
		-webkit-box-shadow: 0 4px 4px #CBCBCB;
		box-shadow: 0 4px 4px #CBCBCB;
		text-shadow: 1px 1px 0px #FBFFF8;
		background:#E5FFC6;
		border:1px solid #B8CD9F;
		color:#90A17D;
	}

	.ok_box h3{
		font-size:18px;
		color:green;
	}

	.error_box, #loader{
		padding:20px;
		width:auto;
		margin:0 0 30px 0;
		position:relative;
		display:inline-block;
		border-radius:10px;
		-moz-box-shadow: 0 4px 4px #CBCBCB;
		-webkit-box-shadow: 0 4px 4px #CBCBCB;
		box-shadow: 0 4px 4px #CBCBCB;
		text-shadow: 1px 1px 0px #FFEBE5;
		background:#ffcccc;
		border:1px solid #ff9999;
		color:#c31b00;
	}


/* ----------------------------------------------------
	ACCORDIONS
------------------------------------------------------- */

	.accordion {
		border-left:1px solid #eee;
		border-right:1px solid #eee;
		border-bottom:1px solid #eee;
		-background:#fff;
		float:none;
		clear:both;
		margin:0 0 20px 0;
	}

	/* left aligned small accordion */
	.accordion.small._left{
		width:220px !important;
		float:left !important;
		margin:0 20px 20px 0 !important;
	}

	/* right aligned small accordion */
	.accordion.small._right{
		width:220px !important;
		float:right !important;
		margin:0 0 20px 20px !important;
	}

	/* accordion header */
	.accordion .title {
		background: rgb(232,232,232); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
		margin:0;
		font-size:12px;
		font-weight:normal;
		border-top:1px solid #eee;
		cursor:pointer;
		-moz-box-shadow:inset 0 1px 0 #fff;
		-webkit-box-shadow:inset 0 1px 0 #fff;
		box-shadow:inset 0 1px 0 #fff;
	}

	.accordion .title span {
		padding:3px 15px 3px 18px;
		display:block;
		background: url(plusminus_dark.png) 5px 9px no-repeat;
	}

	.accordion .title.current span {
		background: url(plusminus_dark.png) 5px -26px no-repeat;
	}

	/* currently active header */
	.accordion .title.current {
		cursor:default;
		border-bottom: solid 1px #eee;
		background: rgb(246,246,246); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(249,249,249,1) 49%, rgba(241,241,241,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(49%,rgba(249,249,249,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(249,249,249,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
		color: #646464 !important;
		text-shadow: 0 1px 0 #F4F4F4;
		-moz-box-shadow:inset 0 1px 0 #fff;
		-webkit-box-shadow:inset 0 1px 0 #fff;
		box-shadow:inset 0 1px 0 #fff;
	}

	/* accordion pane */
	.accordion div.pane {
		background:#fff;
		border-width:0 2px;
		display:none;
		height:auto;
		padding:15px;
		font-size:12px;
	}


/* ----------------------------------------------------
	SCROLLABLE IMAGE GALLERIES
------------------------------------------------------- */

	.scrollable {
		position:relative;
		overflow:hidden;
		width: 578px;
		height:90px;
		margin:0 !important;
	}

	.scrollable img{
		cursor:pointer;
	}

	/* root element for scrollable items */
	.scrollable .items {
		/* this cannot be too large */
		width:20000em;
		position:absolute;
	}

	.items div {
		float:left;
		margin-right:10px;
	}

	/* styling for the image wrapper  */
	#image_wrap {
		text-align:center !important;
		margin:0 auto !important;
		width:578px;
		overflow:hidden;
	}

	/* scrollable border */
	.scrollable_border{
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
		-webkit-box-shadow: 0 1px 1px #D1D1D1, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #D1D1D1, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 0 #D8D8D8, inset 0 0 0 1px #fff;
		border:1px solid #EBEBEB;
		display:inline-block;
		position:relative;
		width:638px;
		margin:0 0 30px 0;
		padding:30px 0 ;
	}

	/* this makes it possible to add next button beside scrollable */
	.scrollable {
		float:left;
	}

	/* prev, next, prevPage and nextPage buttons */
	a.browse {
		display:block;
		width:10px;
		height:21px;
		float:left;
		margin:35px 10px 0;
		cursor:pointer;
		font-size:1px;
	}

	/* right */
	a._right 	{
		background: url(arrow_right.png) no-repeat;
	}

	a._right:active{
		background-position:-60px 0;
	}

	/* left */
	a._left{
		background: url(arrow_left.png) no-repeat;
	}
	a._left:active {
		background-position:-60px 0;
	}

	/* disabled navigational button */
	a.disabled{
		visibility:hidden !important;
	}

/* ----------------------------------------------------
	TWITTER
------------------------------------------------------- */

	/* Twitter feeds*/
	.tweet_list {
		list-style: none;
		padding:10px 0 0 0 !important;
	}

	.tweet_list li {
		padding: 0 0 10px 0 !important;
		margin: 0 0 10px 0 !important;
		list-style-position:outside;
	}

	.tweet_time a{
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-style: italic;
		color:#9C9C9C !important;
		text-decoration:underline !important;
		line-height:100% !important;
		padding-bottom:8px;
	}

	.tweet_time a:hover{
		text-decoration:none !important;
	}

	.tweet_text{
		line-height:150% !important;
	}

	.tweet_text a{
		color: #9C9C9C !important;
		display:inline-block !important;
	}

	.tweet_text a:hover{
		color: #CECECE !important;
		text-decoration:underline;
	}

/* ---------------------------------------------------------
   Added by DARYL
------------------------------------------------------------*/
// Auto-columns
div.auto_columns img {
    width: 100%;
    border: solid 2px #ddd; /*#E8D593;*/
    border-radius: 6px;
}
div.auto_columns p {
    padding-bottom: 2px;
}

#slider .desc .text {
    border-radius: 6px;
}

// Clients list
div.clients {
    padding: 10px;
    border: solid 2px #ddd;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 25px;
}
div.clients ul {
    list-style: none !important;
    background-color: #aaa;
}
div.clients ul li {
    float:left;
    list-style-position: outside !important;
    margin: 0 6px;
    height: 65px;
    width: 184px;
    text-align: center;
    line-height: 65px;
}
div.clients ul li img {
    vertical-align: middle;
}
// FONTS

/* Oswald */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* Droid Sans */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* Droid Serif */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);

div.sidebar_content_top {
    @include box-shadow(-8px 8px 12px -8px #111);
    border-radius: 0 0 2px 2px;
}

#logo {
    padding: 20px 0px 8px 30px;
    @include linear-gradient(#ffffff, #c0e1ff);

    a {
        color: #452A15;
        font-style: italic;
        font-size: 21px;
        text-decoration: none;

        div {
            margin: -6px 0 0 2px;
        }
    }
    img {
        width:180px;
        height: 131px;
    }
}
#tagline {
    padding: 10px 0px;
    background-color: #E6D391;
    color: #452A15;
    font-size: 21px;
    text-align: center;
    border-top: solid 5px #fff;
    border-radius: 0 0 2px 2px;
}

