<div class="clients">
	<ul>
	  <% %w{aldi walmart lowes medical_consultants community_hospital_anderson IU_health fedex lifetime_skincare menards first_merchants old_national_bank ivy_tech}.each do |client| %>
  		<li>
	      <%= image_tag "client_logos/#{client}_logo_small.png" %>
	    </li>
    <%end%>
  </ul>
  <div class="clear"></div>
</div>

