<div class="clients">
	<ul>
	  <% %w{aldi cardinal_health defur_voran fedex first_merchants walmart old_national_bank lowes ivy_tech lifetime_skincare menards walgreens}.each do |client| %>
  		<li>
	      <%= image_tag "client_logos/#{client}_logo_small.png" %>
	    </li>
    <%end%>
  </ul>
  <div class="clear"></div>
</div>

